## NYC

In [50]:
# import dependencies
import json
import os
import pandas as pd
import matplotlib.pyplot as mat
import requests
import seaborn as sns

In [51]:
url_NYC = "https://gbfs.citibikenyc.com/gbfs/en/station_information.json"
r_NYC = requests.get(url_NYC)
print(r_NYC)

<Response [200]>

In [61]:
NYC_stations_pd = pd.DataFrame(json.loads(r_NYC.content)['data']['stations'])[['station_id', 'name', 'lat', 'lon', 'rental_methods', 'capacity']]
NYC_stations_pd.head()

,station_id,name,lat,lon,rental_methods,capacity
0,304,Broadway & Battery Pl,40.704633,-74.013617,"[KEY, CREDITCARD]",33
1,359,E 47 St & Park Ave,40.755103,-73.974987,"[KEY, CREDITCARD]",64
2,367,E 53 St & Lexington Ave,40.758281,-73.970694,"[KEY, CREDITCARD]",34
3,402,Broadway & E 22 St,40.740343,-73.989551,"[KEY, CREDITCARD]",39
4,3255,8 Ave & W 31 St,40.750585,-73.994685,"[KEY, CREDITCARD]",19

In [53]:
NYC_stations_pd['capacity'].describe()

count    935.000000
mean      31.445989
std       12.090001
min        0.000000
25%       23.000000
50%       28.000000
75%       39.000000
max       79.000000
Name: capacity, dtype: float64

In [54]:
NYC_stations_pd.count()

station_id        935
name              935
lat               935
lon               935
rental_methods    935
capacity          935
dtype: int64

In [55]:
total_num_bikes_NYC = NYC_stations_pd['capacity'].sum()
total_num_bikes_NYC

29402

In [56]:
total_num_stations_NYC = NYC_stations_pd['name'].count()
total_num_stations_NYC

935

## Toronto

In [62]:
url_Toronto = "https://tor.publicbikesystem.net/ube/gbfs/v1/en/station_information"
r_Toronto = requests.get(url_Toronto)
print(r_Toronto)

<Response [200]>

In [63]:
Toronto_stations_pd = pd.DataFrame(json.loads(r_Toronto.content)['data']['stations'])[['station_id', 'name', 'lat', 'lon', 'rental_methods', 'capacity']]
Toronto_stations_pd.head()

,station_id,name,lat,lon,rental_methods,capacity
0,7000,Fort York Blvd / Capreol Ct,43.639832,-79.395954,"[KEY, CREDITCARD, TRANSITCARD, PHONE]",35
1,7001,Lower Jarvis St / The Esplanade,43.647992,-79.370907,"[KEY, CREDITCARD, TRANSITCARD, PHONE]",15
2,7002,St. George St / Bloor St W,43.667333,-79.399429,"[KEY, CREDITCARD, TRANSITCARD, PHONE]",19
3,7003,Madison Ave / Bloor St W,43.667158,-79.402761,"[KEY, CREDITCARD, TRANSITCARD, PHONE]",15
4,7004,University Ave / Elm St,43.656518,-79.389099,"[KEY, CREDITCARD, TRANSITCARD, PHONE]",11

In [64]:
Toronto_stations_pd['capacity'].describe()

count    463.000000
mean      18.099352
std        5.837895
min        8.000000
25%       15.000000
50%       17.000000
75%       20.000000
max       50.000000
Name: capacity, dtype: float64

In [65]:
Toronto_stations_pd.count()

station_id        463
name              463
lat               463
lon               463
rental_methods    463
capacity          463
dtype: int64

In [66]:
total_num_bikes_Toronto = Toronto_stations_pd['capacity'].sum()
total_num_bikes_Toronto

8380

In [67]:
total_num_stations_Toronto = Toronto_stations_pd['name'].count()
total_num_stations_Toronto

463